body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

/*Empeche la photo d'etre plus grande que son container*/

.header {
    padding: 5px;
    /* some padding */
    text-align: center;
    /* center the text */
    background: #4295bf;
    /* green background */
    color: white;
    /* white text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
    font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    /* Hide overflow */
    background-color: #333;
    /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
    /* Change the display to block, for responsive reasons (see below) */
    color: white;
    /* White text color */
    text-align: center;
    /* Center the text */
    padding: 14px 20px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
    float: right;
    /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #ddd;
    /* Grey background color */
    color: black;
    /* Black text color */
}


/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    /* Set the width of the sidebar */
    background-color: #f1f1f1;
    /* Grey background color */
    padding: 20px;
    /* Some padding */
}

/* Main column */
.main {
    /* Set the width of the main content */
    background-color: white;
    /* White background color */
    padding: 20px;
    /* Some padding */
}

/*titre du CV*/
.titreCv {
    background-color: #507ec7;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    ;
}

/* a propos de moi*/
.summary {
    background-color: #1E4D92;
    color: white;
    font-size: 18px;
    padding: 20px;
    /* Some padding */
    border-radius: 25px;
    ;
}

/* experience */
.experience {
    /* Set the width of the main content */
    background-color: #1A437C;
    color: white;
    font-size: 18px;
    padding: 20px;
    /* Some padding */
    border-radius: 25px;
    ;
}

.poste {
    font-size: 22px;
    font-weight: bold;
}

/* Parcorus universitaire */
.parcoursUniv {
    background-color: #162E5D;
    color: white;
    font-size: 18px;
    /* White background color */
    padding: 20px;
    /* Some padding */
    border-radius: 25px;
    ;
}

.diplome {
    font-size: 22px;
    font-weight: bold;
}

/*colonne de gauche*/
.technos {
    /* Set the width of the main content */
    background-color: blanchedalmond;
    /* White background color */
    padding: 20px;
    /* Some padding */
}


.footer {
    padding: 5px;
    text-align: right;
    background: #ddd;
}

hr.parcUniv {
    margin-inline-start: 0;
    width: 500px;
}

hr.expProf {
    margin-inline-start: 0;
    width: 500px;
}

hr.skill {
    margin-inline-start: 0;
    width: 50px;
}

/* pour les etoiles et autre icones */

.checked {
    color: orange;
}

