:root {
    --value-clr-neon: 317, 100%, 54%;
    --clr-neon: hsl(317, 100%, 54%);
    --clr-font-screen: hsl(317, 68%, 93%);
    --clr-bg: hsl(323 21% 16%);
    --sec-turn-on-time: 1.2s
}

body {
    background-color: hsl(323 21% 16%);

}


.photo>img {
    filter: sepia(100%) saturate(500%) brightness(100%) hue-rotate(240deg);
    border-radius: 25px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

.screen {
    position: relative;
    border: 3px solid hsla(var(--value-clr-neon), 0.8);
    border-radius: 25px;
    background-color: hsla(var(--value-clr-neon), 0.15);
    overflow: hidden;
    opacity: 0;
    transform: translate(0, 0);
    transition: transform 5s ease;
}

.screen:hover {
    animation: floating-screen 10s linear infinite;
}

@keyframes floating-screen {
    0% {
        transform: translate(0, -10px);
    }

    12.5% {
        transform: translate(7px, -7px);
    }

    25% {
        transform: translate(10px, 0);
    }

    37.5% {
        transform: translate(7px, 7px);
    }

    50% {
        transform: translate(0, 10px);
    }

    62.5% {
        transform: translate(-7px, 7px);
    }

    75% {
        transform: translate(-10px, 0);
    }

    87.5% {
        transform: translate(-7px, -7px);
    }

    100% {
        transform: translate(0, -10px);
    }
}



.open {
    opacity: 1;
    transition: opacity 2s linear;
}

.flickering{
    animation: flicker-on-click 1s forwards !important;
}

.open>.screen-content{
    opacity: 0.95;
}

/*Gestion des différents écrans avec différents délais d'allumage */

.sc1.closed {
    animation: display-screen 0s forwards,
        turn-on-animation var(--sec-turn-on-time) forwards;
}

.sc1:not(.open)>.screen-content {
    animation: turn-on-flicker 2s forwards var(--sec-turn-on-time);
}

.sc1>.screen-overlay {
    animation: turn-on-flicker 2s forwards var(--sec-turn-on-time),
        mouvement-ligne-ecran 1s infinite linear var(--sec-turn-on-time);
}

.sc2.closed {
    animation: display-screen 0s forwards calc(var(--sec-turn-on-time)*.5),
        turn-on-animation var(--sec-turn-on-time) forwards calc(var(--sec-turn-on-time)*.5);
}

.sc2:not(.open)>.screen-content {
    animation: turn-on-flicker 2s forwards calc(var(--sec-turn-on-time)*1.5);
}

.sc2>.screen-overlay {
    animation: turn-on-flicker 2s forwards calc(var(--sec-turn-on-time)*1.5),
        mouvement-ligne-ecran 1s infinite linear calc(var(--sec-turn-on-time)*1.5);
}

.sc3.closed {
    animation: display-screen 0s forwards calc(var(--sec-turn-on-time)*2),
        turn-on-animation var(--sec-turn-on-time) forwards calc(var(--sec-turn-on-time)*2);
}

.sc3:not(.open)>.screen-content {
    animation: turn-on-flicker 2s forwards calc(var(--sec-turn-on-time)*3);
}

.sc3>.screen-overlay {
    animation: turn-on-flicker 2s forwards calc(var(--sec-turn-on-time)*3),
        mouvement-ligne-ecran 1s infinite linear calc(var(--sec-turn-on-time)*3);
}

.sc4.closed {
    animation: display-screen 0s forwards calc(var(--sec-turn-on-time)*3.5),
        turn-on-animation var(--sec-turn-on-time) forwards calc(var(--sec-turn-on-time)*3.5);
}

.sc4:not(.open)>.screen-content {
    animation: turn-on-flicker 2s forwards calc(var(--sec-turn-on-time)*4.5);
}

.sc4>.screen-overlay {
    animation: turn-on-flicker 2s forwards calc(var(--sec-turn-on-time)*4.5),
        mouvement-ligne-ecran 1s infinite linear calc(var(--sec-turn-on-time)*4.5);
}

.sc5.closed {
    animation: display-screen 0s forwards calc(var(--sec-turn-on-time)*5),
        turn-on-animation var(--sec-turn-on-time) forwards calc(var(--sec-turn-on-time)*5);
}

.sc5:not(.open)>.screen-content {
    animation: turn-on-flicker 2s forwards calc(var(--sec-turn-on-time)*6);
}

.sc5>.screen-overlay {
    animation: turn-on-flicker 2s forwards calc(var(--sec-turn-on-time)*6),
        mouvement-ligne-ecran 1s infinite linear calc(var(--sec-turn-on-time)*6);
}

.screen-overlay {
    position: absolute;
    background: linear-gradient(hsla(var(--value-clr-neon), 0.15),
            hsla(var(--value-clr-neon), 0.15) 3px,
            transparent 3px,
            transparent 9px);
    background-size: 100% 9px;
    height: 100%;
    width: 100%;
    z-index: 2;
    left: 0px;
    top: 0px;
    overflow: hidden;
    opacity: 0;
    /*Will be turned to 1 after the time needed for the screen to open */
    animation: mouvement-ligne-ecran 1s infinite linear var(--sec-turn-on-time);
}

.screen-content {
    margin: 15px;
    padding: 5px;
    border: 1px solid hsla(var(--value-clr-neon), 0.4);
    border-radius: 10px;
    opacity: 0;
    /*Will be turned to 0.95 after the time needed for the screen to open */
    color: var(--clr-font-screen);
    text-shadow: 0 0 0.125em var(--clr-font-screen);
    height: calc(100% - 30px);
    animation: screen-on-click 1s forwards linear paused;
}

@keyframes mouvement-ligne-ecran {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 0px -18px;
    }
}

@keyframes display-screen {
    to {
        opacity: 1;
    }
}

@keyframes turn-on-animation {
    from {
        transform: scaleY(0)
    }

    to {
        transform: scaleY(1)
    }
}

@keyframes turn-on-flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        opacity: 0.95;
    }

    5%,
    20%,
    24%,
    55% {
        opacity: 0.2;
    }
}

@keyframes reflectionFlicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        opacity: 0.7;
    }

    20%,
    24%,
    55% {
        opacity: 0.2;
    }
}

@keyframes floating-screen {
    0% {
        transform: translate(0, -10px);
    }

    12.5% {
        transform: translate(7px, -7px);
    }

    25% {
        transform: translate(10px, 0);
    }

    37.5% {
        transform: translate(7px, 7px);
    }

    50% {
        transform: translate(0, 10px);
    }

    62.5% {
        transform: translate(-7px, 7px);
    }

    75% {
        transform: translate(-10px, 0);
    }

    87.5% {
        transform: translate(-7px, -7px);
    }

    100% {
        transform: translate(0, -10px);
    }
}

@keyframes flicker-on-click {

    0%,
    7%,
    27% {
        opacity: 0;
    }

    3%,
    24%,
    33%,
    100%{
        opacity: 0.95;
    }
}

hr {
    color: var(--clr-neon);
    background-color: var(--clr-neon);
    height: 2px;
}

hr.parcUniv {
    margin-inline-start: 0;
    width: 500px;
}

hr.expProf {
    margin-inline-start: 0;
    width: 500px;
}

hr.skill {
    margin-inline-start: 0;
    width: 50px;
}

.screen:after,
.screen:before {
    content: "";
    height: 5px;
    position: absolute;
    z-index: 4;
    left: 50%;
    translate: -50% 0%;
    background-color: white;
}

.screen:before {
    width: 15%;
    top: 0rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.screen:after {
    width: 25%;
    bottom: 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}